<!doctype html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="title">
        <h1>ToxicityCheck Beta 1.0</h1>
    </div>
    <div id="content">
        <form method="post" action="/oauth">
            <label for="Name">Enter the user you want to check the toxicity of</label>
            <input type="nameToCheck" name="nameToCheck" /><br />
            <label for="checkUser">Check User</label>
            <input type="submit" name="checkUser" /><br />
        </form>
     </div>
     
        <a href='/history'>History</a>



     
     

</body>