<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToxicityCheck Alpha A0.1 - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>ToxicityCheck Alpha A0.1</h1>
    </div>
    <div id="content">
        <form method="post" action="/openAI">
            <label for="Text">Enter the text you want to check the toxicity of</label>
            <input type="textToCheck" name="textToCheck" /><br />
            <label for="checkText">Check Text</label>
            <input type="submit" name="checkText" /><br />
        </form>
        <form method="post" action="/oauth">
            <label for="Name">Enter the user you want to check the toxicity of</label>
            <input type="nameToCheck" name="nameToCheck" /><br />
            <label for="checkUser">Check User</label>
            <input type="submit" name="checkUser" /><br />
        </form>
     </div>
     


     
     

</body>