<!doctype html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="title">
        <h1>Log into Reddit</h1>
    </div>
    <div id="content">
        <form method="post" action="/redditAuth">
            <label for="username">Username</label>
            <input type="text" name="username" /><br />
            <label for="password">Password</label>
            <input type="text" name="password" /><br />
            <label for="submit">Submit</label>
            <input type="submit" name="Log In" /><br />
        </form>
     </div>
</body>