<!doctype html>
<body>
    <div class="title">
        <h1>ToxicityCheck Alpha A0.1</h1>
    </div>
    <div>
        Result
        <!--add category names next to scores as well as the true false display next to the scores
        later. We need to figure out a formula to use these numbers to compute a numerical credit value. --> 

        {% if hate %}
            <p>{{ hate }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}

        {% if hate_threatening %}
            <p>{{ hate_threatening }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}
        
        {% if self_harm %}
            <p>{{ self_harm }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}

        {% if sexual %}
            <p>{{ sexual }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}

        {% if sexual_minors %}
            <p>{{ sexual_minors }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}

        {% if violence %}
            <p>{{ violence }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}

        {% if violence_graphic %}
            <p>{{ violence_graphic }}</p>
        {% else %}
            <p>Enter text to check</p>
        {% endif %}





    </div>
</body>