<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToxicityCheck Alpha A0.1 - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>ToxicityCheck Beta 1.0</h1>
    </div>
    <div id="content">
        <h2>Result</h2>
        <!-- Add category names next to scores and the true/false display next to the scores. -->
        <!-- We need to figure out a formula to use these numbers to compute a numerical credit value. -->

        <!-- Display results using loop and conditional -->
        {% for category, score in [('hate', hate), ('hate_threatening', hate_threatening), ('self_harm', self_harm), ('sexual', sexual), ('sexual_minors', sexual_minors), ('violence', violence), ('violence_graphic', violence_graphic)] %}
            {% if score %}
                <p>{{ category }}: {{ score }}</p>
            {% else %}
                <p>Enter text to check</p>
            {% endif %}
        {% endfor %}
    </div>
</body>